header{
    text-align: right;
    margin-right: 20px;
}
body{
background-image: url(socc.png);
background-repeat: no-repeat;
background-position-x: 300px;
background-position-y: 30px;
background-color: orange;
background-size: 700px;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 42px;

}
form{
    text-align: right;
    background-color: yellowgreen;
}
nav{
    text-align: center;
    font-size: 60px;
    text-indent: 10px; 
    background-color: yellowgreen;
    word-spacing: 200px;
    background-size: cover;
}
main{
    align-content: center;
}
footer{
    text-align: center;
    margin-top: 250px;
}
video{
background-color: aliceblue;
}
table{
    border: 5px, solid;
    width:auto;
    margin: auto;
    border-color: blue;
    align-items: right;
    margin-left: 100px;
    background-color: white;
}
td, th { border: 2px solid red;
    padding: 12px 15px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}
th {
background-color: grey;
font-weight: bold;
color: whitesmoke;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
video{
    margin-left: 200px;
}
.roww{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}
.refl{
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
}
a:link {
    color: blue;
  }

  a:visited {
    color: green;
  }

  a:hover {
    color: red;
  }

  a:active {
    color: yellow;
  }
  @media screen and (min-width: 240px) {
    #leftsidebar {width: 100px; float: right;}
    #main {margin-left: 100x;}
  }