body{
    background-color: aqua;
    color: blue;  
}
p{
    color: black;
    font-style: italic;
}
h1{
    color: red;
    text-transform: uppercase;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
    font-size: larger;
}
li{
    color: black;
    margin: auto;
}