    body{
    background-image: url(socc.png);
    background-repeat: no-repeat;
    background-position-x: 300px;
    background-position-y: 70px;
    background-color: orange;
    background-size: 700px;
    
    }
h1{
text-align: center;
}
img{
    height: 500px;
    width: 800px;
    image-rendering: auto;
    
    
}
.row1{
    display: flex;
    flex-wrap: wrap;
}
video{
    height: 650px;
}
ol{
    background-color: aqua;
}
nav{
    word-spacing: 50px;
    background-color: aliceblue;
    font-size: 38px;
}
h2{
    background-color: aliceblue;
}
footer{
    text-align: center;
}
a:link {
    color: blue;
  }

  a:visited {
    color: green;
  }

  a:hover {
    color: red;
  }

  a:active {
    color: yellow;
  }

  @media screen and (min-width: 240px) {
    #leftsidebar {width: 100px; float: right;}
    #main {margin-left: 100x;}
  }