body{
    background-image: url(socc.png);
    background-repeat: no-repeat;
    background-position-x: 300px;
    background-position-y: 30px;
    background-color: orange;
    background-size: 700px;
    }

    .row{
        display: flex;
        flex-wrap: wrap;
        
    }
    h2{
        word-spacing: 800px;
    }
    footer{
        text-align: center;
    }

  @media screen and (min-width: 240px) {
    #leftsidebar {width: 100px; float: right;}
    #main {margin-left: 100x;}
  }